<!-- <div  class="pattern" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('http://backgroundlabs.com/files/white-leather-texture-1945.png');">
  <div class="container">
      <div class="col-md-8"></div>
      <div class="col-md-4 ">
        <h1 class="stick-to-bottom"> <%= @developer.first_name %> <%= @developer.last_name %></h1>
      </div>
  </div>
</div> -->
<div >
  <figure>
    <code id="cover-image" style="display: none;"></code>
    <img class="cover-img" data-embed-id="cover-image" alt="Mastercard cover image" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job29abatch6-s58-volunteer-06.jpg?h=370&dpr=1.5&fit=default&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&ixlib=js-1.1.1&s=ff7d84730aba9c978a091143af44bd3d">
  </figure>
<!--   <div class= "container">
  <div class="col-md-12">
    <h2 class="text-right dash-name"> <strong> <%= @developer.first_name %> <%= @developer.last_name %> </strong></h2>
  </div>
  </div> -->
</div>
<div class="container">



  <div class="col-md-12">
    <div class="project-info white-box">
      <!-- <div class="row" > -->

          <div class="edit-icon">
          <%= link_to edit_developer_path(current_developer) do %>
            <i class="fa fa-edit"></i>
          <% end %>
      <!-- </div> -->
      </div>
      <div class="col-md-12">
        <h2 id="dash-name"> <%= @developer.first_name %></h2>
      </div>
      <div class="row">
<!--       <div class="col-md-6">
        <h4 class="stick-to-top"><%= @developer.email %></h4>
      </div> -->
        <div class= "col-md-4 user-photo dash-photo">
          <% if @developer.avatar? %>
            <div class = "user-avatar"
            style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
           url('<%= cl_image_path @developer.avatar %>')">
            </div>
          <% else %>
            <%= image_tag "https://image.flaticon.com/icons/svg/145/145849.svg", class: "user-avatar"%>
          <% end %>
          <div class = "star-rating">
            <%= link_to "Go To Profile", developer_path(@developer), class: 'btn btn-reset btn-top-margin'  %>
          </div>
        </div>
        <div class="col-md-8 dev-description">
          <h4 class= "project-h4" > <strong> Bio </strong></h4>
          <h4 class="stick-to-top"> <%= @developer.description %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="project-info white-box">
      <h3 >MY PROJECTS</h3>
      <div class = "row">
      <% @projects.each do |project| %>
        <div class="col-md-4  text-center projects-box">
          <h3><%= project.name  %> </h3>
          <p>Status: <%= project.status %></p>
          <p>Deadline: <%= project.deadline  %></p>
          <%= link_to "", projects_dashboard_path(project), class: 'box-link'  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="skills white-box">
      <h3> MY SKILLS </h3>
      <div class="form-group">
        <div class="skill-display">
          <% @skills.each do |skill| %>
            <div  id="<%= skill.id %>" class = "text-center">
              <div class="skill-choice"><i class="devicon-<%= skill.skill.name %>-plain colored"></i>  <%= skill.skill.name %>
                <div class= "remove-button">
                   <%= link_to developer_developer_skill_path(@developer, skill) ,confirm: "Are you sure?", method: :delete, remote: true do %>
                     <i class="far fa-times-circle"></i>
                   <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-12">
    <div class="project-info white-box">
      <h3>MY APPLICATIONS</h3>
      <div class = "row">
      <% @proposals.each do |proposal| %>
        <div class="col-md-4  text-center projects-box">
          <h3><%= proposal.project.name  %> </h3>
          <p>State: <%= proposal.state %></p>
          <%= link_to "", project_path(proposal.project), class: 'box-link'  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
