<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post text-center">
        <%= image_tag "logo.png", height: 70 %>
        <h2>Edit profile</h2>
        <%= simple_form_for(@developer) do |f| %>
          <%= f.error_notification %>

          <div class="row">
            <div class="col-xs-6">
              <h1><%= f.input :first_name, required: false %></h1>
            </div>
            <div class="col-xs-6">
              <h1><%= f.input :last_name, required: false %></h1>
            </div>
            <div class="col-xs-6">
              <h1><%= f.input :github_username, required: false %></h1>
            </div>
            <div class="col-xs-6">
              <h1><%= f.input :linkedin_username, required: false %></h1>
            </div>
            <div class="col-xs-12">
              <h1><%= f.input :address, required: false %></h1>
            </div>
            <div class="col-xs-12">
              <h1><%= f.input :description, required: false %></h1>
            </div>
            <div class="col-xs-12">
              <h1><%= f.input :experience, required: false %></h1>
            </div>
            <div class="col-xs-12">
              <h1><%= f.input :avatar, required: false, placeholder:"Select date" %></h1>
              <%= f.input :avatar_change, as: :hidden %>
            </div>
            <div class="col-xs-12">
              <h1><%= f.input :birth_date, as: :string, required: false, input_html: {class: "datepicker"} %></h1>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label check_boxes optional">
                <h1>Skills</h1>
            </label>
            <input type="hidden" name="developer[skill_ids][]" value="">
            <fieldset class="skill-choices">
              <% Skill.all.each do |skill| %>
                <div class="skill-choice">
                  <input type="checkbox" class="checkbox-hidden" value="<%= skill.id%>" name="developer[skill_ids][]" id="developer_skill_ids_<%= skill.id%>" >
                  <label class="" for="developer_skill_ids<%= skill.id%>">
                    <i class="devicon-<%= skill.name %>-plain colored"></i>
                    <%= skill.name %>
                    <i class="fa fa-check"></i>
                  </label>
                </div>
              <% end %>
            </fieldset>
          </div>

          <div class="col-xs-6">
            <div class="form-actions">
              <%= f.button :submit, "Update", class: "btn btn-success" %>
            </div>
          </div>

        <% end %>
        <div class="col-xs-6">
          <%= link_to "Back", :back, class: "btn btn-reset" %>
        </div>

      </div>
    </div>
  </div>
</div>
