        <% if @developer[:avatar]%>
          <div class="avatar-round" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @user.photo; %>');"></div>
        <% else %>
          <div class="avatar-round" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://image.flaticon.com/icons/svg/145/145849.svg');"></div>
        <% end %>


        <h2><%= @developer.first_name %>, <%= @developer.last_name %></h2>
        <p>super developer</p>
        <p>info: </p>
        <%= @developer.description %>
        <%= @developer.experience %>
        <%= @developer.github_username %>
        <%= @developer.linkedin_username %>
        <%= @developer.email %>


        <div class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star off"></i></div>
        <a href="#" class="btn btn-primary btn-lg btn-top-margin" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Get in touch</a>
      </div>
    </div>


    <h2> My projects </h2>
    <div class="stat">
      <div class="stat-content">
        <h5>Projects</h5>
        <% @projects.each do |project| %>
        <%= project.name  %>
        <%= project.status %>
        <%= project.deadline  %>
        <% end %>
      </div>
    </div>
