<figure>
  <code id="cover-image" style="display: none;"></code>
  <img class="cover-img" data-embed-id="cover-image" alt="Mastercard cover image" src="https://res.cloudinary.com/deoafyurg/image/upload/v1534414161/wade-austin-ellis-702904-unsplash.jpg">
</figure>

<div class="container">

  <div class="col-md-12">
    <div class="project-info white-box">
      <div class="col-md-4">
      </div>
        <div class="col-md-8">
          <h2> <%= @developer.first_name %> <%= @developer.last_name %></h2>
        </div>
      <div class = "row" >
        <div class="col-md-4 user-photo">
          <% if @developer.avatar? %>
            <div class = "user-avatar"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path @developer.avatar %>')"></div>
          <% else %>
            <%= image_tag "https://image.flaticon.com/icons/svg/145/145849.svg", class: "user-avatar"%>
          <% end %>
          <div class = "star-rating">
            <div class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star on"></i><i class="fa fa-star off"></i></div>
          </div>
          <a href="#" class="btn btn-reset btn-top-margin" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Get in touch</a>
        </div>
        <div class="col-md-8">
          <div class = "border-spaced">
            <h4><%= @developer.email %></h4>
          </div>
          <div class = "border-spaced">
            <h4>Description: <%= @developer.description %></h4>
          </div>
          <div class = "border-spaced">
            <h4>Experience: <%= @developer.experience %></h4>
          </div>
          <div class = "border-spaced">
            <h4>Linkedin_username: <%= @developer.linkedin_username %></h4>
          </div>
          <div class = "border-spaced-bottom">
            <h4>Github_username: <%= @developer.github_username %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="col-md-12">
    <div class="project-info white-box text-center">
      <h2> <%= @developer.first_name %>'s projects </h2>
      <div class="row">
        <div class="form-group">
          <% @projects.each do |project| %>
            <div class="col-md-3  text-center projects-box">
              <h3><%= project.name  %> </h3>
              <p>Status: <%= project.status %></p>
              <p>Deadline: <%= project.deadline  %></p>
              <%= link_to "", project_path(project), class: 'box-link'  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="project-info white-box">
      <h2>  <%= @developer.first_name %>'s skills </h2>
      <div class="skill-display">
        <% @developer.skills.each do |skill| %>
          <div class = "text-center">
            <div class="skill-choice">
              <i class="devicon-<%= skill.name %>-plain colored"></i>
              <%= skill.name %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


