<% @id = current_user.id %>
<% projects = Project.all.where(user_id: @id) %>
<h1><%= "Hi, #{current_user.first_name} #{current_user.last_name}" %></h1>

<h4><%= current_user.email %></h4>

<h2>Your projects</h2>
<!-- Add path to update profile -->
<%#= link_to "Update profile", edit_user_registration_path(current_user) %>
<% if projects.size > 0 %>
  <% projects.each do |project|   %>
    <% current_charity = project.charity_id %>
    <%= current_charity.name %>
    <%= current_charity.description %>
    <%= current_team = Team.find_by project_id: project.id %>
    <!-- Display each team member -->

    <%= end %>

<h2>Your proposals</h2>

