<% projects.each do |project| %>

  <div class="card-index-container">
    <div class="card-index-charity">
      <% if project.charity.logo.model[:logo] %>
        <div class= "avatar-small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path project.charity.logo %>')">
        </div>
        <%#= cl_image_tag "project.charity.logo", width: "50", height: "50" %>
      <% else %>
        <%= image_tag "https://image.shutterstock.com/image-vector/people-charity-logo-template-design-260nw-612981149.jpg", width: "50", height: "50" %>
      <% end %>


      <p><%= project.charity.name %></p>
    </div>
    <p class="card-index-category"><%= project.charity.category %></p>
    <p class="card-index-type"><%= project.work_type %></p>
    <div class="card-index-project">
      <h2><%= link_to project.name, project_path(project)%></h2>
      <p class="mute-75">"I need help to make my website look better. I love saving Bali Reptiles but unfortuanately I do not know how to build websites. This site needs work on the front end and also on the back end functionality."</p>
    </div>
    <div class="card-index-details">
      <p class="card-index-deadline"><%= project.deadline %></p>
      <p class="card-index-progess"><%= project.status %></p>
    </div>
  </div>
<%end %>
