<figure>
  <code id="cover-image" style="display: none;"></code>
  <img class="cover-img" data-embed-id="cover-image" alt="Mastercard cover image" src="https://images.unsplash.com/photo-1533562179840-9cce77549aa6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=400&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=461c16b2ba620b62655c9c0ad08ddd78">
</figure>

<div class="container">
  <div class="col-md-12">
    <div class="project-info white-box">
      <h3>Project info </h3>
      <p>Project name:<%= @project.name %></p>
      <p>Charity:<%= @charity.name %></p>
      <p>Status: <%= @project.status  %></p>
      <p>Type: <%= @project.work_type %></p>
    </div>
  </div>


  <div class="col-md-12">

    <div class="charity-info-dashboard white-box text-right">
      <h3>Charity info </h3>
      <p>Logo: <%= @project.charity.logo %></p>
      <p>Location:<%= @project.charity.address %></p>
      <p>Email: <%= @project.charity.email %></p>
      <p>Website: <%= @project.charity.website %></p>
      <p>Category: <%= @project.charity.category %></p>
    </div>
  </div>`


  <div class="col-md-12">
    <div class="skills-info white-box">
      <h3> Skills requiered </h3>
      <div class="post-list">
        <% @skills.each do |skill| %>
          <li><%= skill.name %> <%= link_to "Remove", project_project_skill_path(@project, skill) , method: :delete %> </li>
        <% end %>
      </div>
    </div>
  </div>


  <div class="col-md-12">

    <div class="team-info white-box">
      <h3 class = "text-center">Team Members: </h3>
      <div class = "row">
        <div class ="space-around">
        <% @project.developers.each do |developer| %>
          <div class="col-md-4  text-center team-member">
            <% if developer.avatar? %>
              <div class = "user-avatar-sml" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                  url('<%= cl_image_path developer.avatar %>')"></div>
              </div>
            <% else %>
              <%= image_tag "https://image.flaticon.com/icons/svg/145/145849.svg", class: "user-avatar-sml"%>
            <% end %>
            <p><%= developer.avatar %></p>
            <p>Name: <%= developer.first_name %> <%= developer.last_name %></p>
            <p>Email: <%= developer.email %></p>
            <% if @project.leader_id == developer.id %>
              <h4> LEADER </h4>
            <% end %>
            <%= link_to "Remove from the team", project_member_path(@project, developer), method: :delete, class: 'btn btn-warning', data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="applications-info white-box">
        <h3 class = "text-center">New join requests: </h3>
        <div class = "row">
          <div class ="space-around">
            <% @proposals.each do |proposal| %>
              <div class="col-md-4 text-center  projects-box">
                <p><%= link_to proposal.developer.first_name, developer_path(proposal.developer) %></p>
                <p><%= proposal.state%></p>
                <% if proposal.state == "Pending" || "pending" %>
                  <%= link_to "Accept ", accept_proposal_path(proposal: proposal), method: :post, class: 'btn btn-success' %>
                  <%= link_to "Reject", reject_proposal_path(proposal: proposal), method: :post, class: 'btn  btn-danger' %>
                <% end %>
                <br> <br> <br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">

    <div class="comments white-box">
       <h3> Comments: </h3>
      <ul class="post-list green-background">
        <div class = "border-spaced">
          <div class = "row">
            <div class = "col-md-8">
              <p>Content</p>
            </div>
            <div class = "col-md-2">
              <p>Developer</p>
            </div>
            <div class = "col-md-2">
              <p>Created on</p>
            </div>
          </div>
        </div>
        <% if @posts %>
          <% @posts.each do |post| %>
            <% if post.project == @project %>
              <div class = "row">
                <li class="">
                  <div class = "border-spaced-bottom">
                    <div class = "col-md-8">
                      <%= post.content %>
                    </div>
                    <div class = "col-md-2">
                      <%= post.developer.first_name %>
                    </div>
                    <div class = "col-md-2">
                      <%= post.created_at.strftime("%D %T") %>
                    </div>
                </div>
                </li>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <div class= "post-footer">
        <button type="button" class="btn btn-success text-right" data-toggle="modal" data-target=".bs-example-modal-lg">Add a post</button>
      </div>
    </div>
  </div>


  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Post a comment</h4>
        </div>

        <div class="modal-body">
          <%= simple_form_for [@project, Post.new] do |f| %>
            <%= f.input :content %>
        </div>
        <div class="modal-footer form-inline">
            <%= f.submit "Post", class: "btn btn-primary" %>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

