<figure>
  <code id="cover-image" style="display: none;"></code>
  <img class="cover-img" data-embed-id="cover-image" alt="Mastercard cover image" src="https://images.unsplash.com/photo-1533562179840-9cce77549aa6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=400&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=461c16b2ba620b62655c9c0ad08ddd78">
</figure>

<div class="container">
  <div class="col-md-12">
    <div class="project-info white-box">
      <h3>Project info </h3>
      <div class="row">
        <div class="col-md-6">
          <p>Project name:<%= @project.name %></p>
          <p>Charity:<%= @charity.name %></p>
          <p>Status: <%= @project.status  %></p>
          <p>Type: <%= @project.work_type %></p>
        </div>
        <div class="col-md-6">
          <p>Project details: <%= @project.details %></p>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">

    <div class="charity-info-dashboard white-box ">
      <div class="row">
        <div class = "col-md-6">
          <% if @project.charity.logo? %>
            <%= cl_image_tag @project.charity.logo, class: "user-avatar-sml" %>
          <% else %>
            <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjFbGzCB7sAeKl1FMboHXQiDZ3KSd7G5CPmNOZ_EGBLY3fzTOjxQ", width: 300%>
          <% end %>
        </div>
        <div class = "col-md-6 text-right">
          <h3>Charity info </h3>
          <p>Location:<%= @project.charity.address %></p>
          <p>Email: <%= @project.charity.email %></p>
          <p>Website: <%= @project.charity.website %></p>
          <p>Category: <%= @project.charity.category %></p>
        </div>
      </div>
    </div>
  </div>`



  <div class="col-md-12">
    <div class="skills-info white-box">
      <h3> Skills requiered </h3>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        Add more skills
      </button>
      <div class="skill-display">
        <% @skills.each do |project_skill| %>
          <div class = "text-center">
            <div class="skill-choice"><i class="devicon-<%= project_skill.skill.name %>-plain colored"></i>  <%= project_skill.skill.name %></div>
            <%# if policy(project_skill).destroy? %>
              <%= link_to "Remove", project_project_skill_path(@project, project_skill) , method: :delete %>
            <% #end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-12">

    <div class="team-info white-box">
      <h3 class = "text-center">Team Members: </h3>
      <div class = "row">
        <div class ="form-group">
            <% @project.members.each do |member| %>
          <div class="col-md-4  text-center team-member">
            <div class="team-member-profile">
              <% if member.developer.avatar? %>
                <%= cl_image_tag member.developer.avatar, class: "user-avatar-sml" %>
              <% else %>
                <%= image_tag "https://image.flaticon.com/icons/svg/145/145849.svg", class: "user-avatar-sml"%>
              <% end %>
              <div class = "team-member-info">
                <p><%= member.developer.first_name %> <%= member.developer.last_name %></p>
                <p><%= member.developer.email %></p>
                <% if @project.leader_id == member.developer.id %>
                  <h4> LEADER </h4>
                <% end %>
              </div>
              <%= link_to "", developer_path(member.developer), class: "clickable" %>
            </div>
            <% if policy(member).destroy? && current_developer != member.developer%>
              <%= link_to "Remove from the team", project_member_path(@project, member.developer), method: :delete, class: 'btn btn-reset', data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="applications-info white-box">
      <h3 class = "text-center">New join requests: </h3>
      <div class = "row">
        <div class ="form-group">
          <% @proposals.each do |proposal| %>
            <% if proposal.state.downcase == "pending" &&  policy(proposal).accept? %>
              <div class="col-md-4 text-center application-card ">
                <div class="team-member-profile">
                  <% if proposal.developer.avatar? %>
                    <%= cl_image_tag proposal.developer.avatar, class: "user-avatar-sml black-n-white" %>
                  <% else %>
                    <%= image_tag "https://image.flaticon.com/icons/svg/145/145849.svg", class: "user-avatar-sml black-n-white"%>
                  <% end %>
                  <p><%=proposal.developer.first_name %></p>
                  <%= link_to "", developer_path(proposal.developer), class: "clickable" %>
                </div>
                <%= link_to "Accept ", accept_proposal_path(proposal: proposal), method: :post, class: 'btn btn-success' %>
                <%= link_to "Reject", reject_proposal_path(proposal: proposal), method: :post, class: 'btn  btn-reset' %>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>


  <div class="col-md-12">

    <div class="comments white-box">
       <h3> Comments: </h3>
      <ul class="post-list green-background">
        <div class = "border-spaced">
          <div class = "row">
            <div class = "col-md-8">
              <p>Content</p>
            </div>
            <div class = "col-md-2">
              <p>Developer</p>
            </div>
            <div class = "col-md-2">
              <p>Created on</p>
            </div>
          </div>
        </div>
        <% if @posts %>
          <% @posts.each do |post| %>
            <% if post.project == @project %>
              <div class = "row">
                <li class="">
                  <div class = "border-spaced-bottom">
                    <div class = "col-md-8">
                      <%= post.content %>
                    </div>
                    <div class = "col-md-2">
                      <%= post.developer.first_name %>
                    </div>
                    <div class = "col-md-2">
                      <%= post.created_at.strftime("%D %T") %>
                    </div>
                </div>
                </li>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <div class= "post-footer">
        <button type="button" class="btn btn-success text-right" data-toggle="modal" data-target=".bs-example-modal-lg">Add a post</button>
      </div>
    </div>
  </div>


  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Post a comment</h4>
        </div>

        <div class="modal-body">
          <%= simple_form_for [@project, Post.new] do |f| %>
            <%= f.input :content %>
        </div>
        <div class="modal-footer form-inline">
            <%= f.submit "Post", class: "btn btn-primary" %>
          <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose skills</h4>
      </div>
      <div class="modal-body">

        <%= simple_form_for(@project) do |f| %>
          <div class="form-group">
            <label class="control-label check_boxes optional">
                <h1>Skills</h1>
            </label>
            <input type="hidden" name="project[skill_ids][]" value="">
            <fieldset class="skill-choices">
              <% Skill.all.each do |skill| %>
                <div class="skill-choice">
                  <input type="checkbox" class="checkbox-hidden" value="<%= skill.id%>" name="project[skill_ids][]" id="project_skill_ids_<%= skill.id%>" >
                  <label class="" for="project_skill_ids<%= skill.id%>">
                    <%= skill.name %>
                    <i class="fa fa-check"></i>
                  </label>
                </div>
              <% end %>
            </fieldset>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-reset" data-dismiss="modal">Close</button>
         <%= f.button :submit, "Update", class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>


