
<div class="project-info">
  <h2>Project info </h2>
  <h1>Project name:<%= @project.name %></h1>
  <h3>Charity:<%= @charity.name %></h3>
  <p>Status: <%= @project.status  %></p>
  <p>Type: <%= @project.work_type %></p>
</div>

<div class="charity-info">
  <h2>Charity info </h2>
  <p>Logo: <%= @project.charity.logo %></p>
  <h3>Location:<%= @project.charity.address %></h3>
  <p>Email: <%= @project.charity.email %></p>
  <p>Website: <%= @project.charity.website %></p>
  <p>Category: <%= @project.charity.category %></p>

</div>

<h2> Skills requiered </h2>
<div class="stat">
  <div class="stat-content">
    <% @skills.each do |skill| %>
      <li><%= skill.name %><%= link_to "Remove", "#" %> </li>
    <% end %>
  </div>

</div>

<div class="team-info">
  <h3>Team Members: </h3>
  <% @project.developers.each do |developer| %>
    <div class="col-md-4">
      <p><%= developer.avatar %></p>
      <h3>Name: <%= developer.first_name %> <%= developer.last_name %></h3>
      <p>Email: <%= developer.email %></p>
      <p><%= developer.github_username %></p>
      <% if @project.leader_id == developer.id %>
        <h4> LEADER <h4>
      <% end %>
      <%= link_to "Remove from the team", project_member_path(@project, developer), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>

<div class="applications-info">
  <div class="col-md-12">
    <h3>New join requests: </h3>
    <% @proposals.each do |proposal| %>
      <p><%= link_to proposal.developer.first_name, developer_path(proposal.developer) %></p>
      <p><%= proposal.state%></p>
      <% if proposal.state == "Pending" %>
        <%= link_to "Accept application", accept_proposal_path(proposal: proposal), method: :post %>
        <%= link_to "Reject application", reject_proposal_path(proposal: proposal), method: :post %>

      <% end %>
      <br> <br> <br>
    <% end %>
  </div>
</div>

