<div class="container">
  <div class="row project-list">
    <div class="col-md-3 check-boxes">
      <%= form_for(:project, :url => {:action => "index"}, :html => {:method => :get}, remote: true, id: 'my_form') do %>
        <% hidden_field_tag :filter, tag.name %>
         <%= hidden_field_tag :charities, @charities %>
         <%= hidden_field_tag :projects, @projects.pluck(:id) %>
        <div>
          <h4 class="filter-heading"> Search by Category <i class="fas fa-chevron-up fa-xs"></i></h4>
          <div class="filter-container hidden-options">
            <% Project::CATEGORIES.each do |category| %>
              <div class= "categories-search">
                <%= check_box_tag "category", category %> <%= category %>
              </div>
            <% end %>
          </div>
        </div>
        <br>
        <div>
          <h4 class="filter-heading"> Search by Status <i class="fas fa-chevron-up fa-xs"></i></h4>
          <div class="filter-container hidden-options">
            <% Project::STATUSES.each do |status| %>
              <div class= "statuses-search">
                <%= check_box_tag "status", status %> <%= status %>
            </div>
            <% end %>
          </div>
      </div>
      <br>
      <div>
        <h4 class="filter-heading"> Search by Deadline <i class="fas fa-chevron-up fa-xs"></i></h4>
        <div class="filter-container hidden-options">
          <% Project::DEADLINES.each do |deadline| %>
            <div class= "deadlines-search">
              <%= check_box_tag "deadline", deadline %> within <%= deadline %> days
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <div>
        <h4 class="filter-heading"> Search by Type <i class="fas fa-chevron-up fa-xs"></i></h4>
        <div class="filter-container hidden-options">
          <% Project::TYPES.each do |work_type| %>
            <div class= "types-search">
          <%= check_box_tag "work_type", work_type %> <%= work_type %>
        </div>
        <% end %>
      </div>
    </div>
    <br>
    <div>
      <h4 class="filter-heading"> Search by Skill <i class="fas fa-chevron-up fa-xs"></i></h4>
      <div class="filter-container hidden-options">
        <% Project::SKILLS.each do |skill| %>
          <div class= "skills-search">
            <%= check_box_tag "skill", skill %> <%= skill %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
    <h4> Search by Country </h4>
    <div class="f16">
      <%= text_field_tag :address, params[:address], placeholder: 'Country', id: "country", class: "form-control" %>
    </div>
    <div class="search-buttons">
      <%= submit_tag("Search", class:'btn btn-success button-search')%>
      <%= link_to "Reset", projects_path, class: "btn btn-reset button-search" %>
    <% end %>
    </div>
    </div>
    <div id="filter" class="col-md-9">
      <%= render "project_list", projects: @projects %>
    </div>
  </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/places.js@1.9.0"></script>
<script>
(function() {
  var placesAutocomplete = places({
    container: document.querySelector('#country'),
    type: 'country',
    templates: {
      suggestion: function(suggestion) {
        return '<i class="flag ' + suggestion.countryCode + '"></i> ' +
          suggestion.highlight.name;
      }
    }
  });
})();
</script>
