<div class="container">
<div>
  <% @projects.each do |project| %>
      <div class="col-md-12">
        <div class="card-index">
          <div class="card-index-image col-md-3" style="background-image: url(https://image.shutterstock.com/image-vector/people-charity-logo-template-design-260nw-612981149.jpg)">
          </div>
          <div class="card-index-content col-md-6">
            <h4>Project Name: <%= link_to project.name, project_path(project)%></h2>
            <p>Project Details: "I need help to make my website look better. I love saving Bali Reptiles but unfortuanately I do not know how to build websites. This site needs work on the front end and also on the back end functionality."</p>
            <p>Charity: <%= project.charity.name %> (<%= project.charity.category %>)</p>
            <p>Status: <%= project.status %>, Type: <%= project.work_type %></p>
            <p>Deadline: <%= project.deadline %></p>
          </div>
          <div class="col-md-2 text-center">
            <%= link_to "Read More", project_path(project), class:'align-self-end btn btn-success btn-index' %>
        </div>
        </div>
      </div>
  <% end %>
</div>
<div>


<%= form_for(:project, :url => {:action => "index"}, :html => {:method => :get}) do %>

  <div>
  <% Project::CATEGORIES.each do |category| %>
  <div class= "">
    <%= check_box_tag "category", category %> <%= category %>
  </div>
  <% end %>
  </div>
  <br>
  <div>
    <% Project::TYPES.each do |work_type| %>
  <div class= "">
    <%= check_box_tag "work_type", work_type %> <%= work_type %>
  </div>
  <% end %>
  <div>

  <br>
  <div>
    <% Project::STATUSES.each do |status| %>
  <div class= "">
    <%= check_box_tag "status", status %> <%= status %>
  </div>
  <% end %>
  </div>


  <br>
  <div>
    <% Project::DEADLINES.each do |deadline| %>
  <div class= "">
    <%= check_box_tag "deadline", deadline %> within <%= deadline %> days
  </div>
  <% end %>
  </div>

  <%= submit_tag("Search") %>
<% end %>



</div>

