<div class="container">
  <div class="row project-list">
    <div class="col-md-3 check-boxes">
      <%= form_for(:project, :url => {:action => "index"}, :html => {:method => :get}, remote: true, id: 'my_form') do %>
        <% hidden_field_tag :filter, tag.name %>
        <div>
          <h4 class="filter-heading"> Search by Category <i class="fas fa-chevron-up fa-xs"></i></h4>
          <div class="filter-container hidden-options">
            <% Project::CATEGORIES.each do |category| %>
              <div class= "categories-search">
                <%= check_box_tag "category", category %> <%= category %>
              </div>
            <% end %>
          </div>
        </div>
        <br>
        <div>
          <h4 class="filter-heading"> Search by Status <i class="fas fa-chevron-up fa-xs"></i></h4>
          <div class="filter-container hidden-options">
            <% Project::STATUSES.each do |status| %>
              <div class= "statuses-search">
                <%= check_box_tag "status", status %> <%= status %>
            </div>
            <% end %>
          </div>
      </div>
      <br>
      <div>
        <h4 class="filter-heading"> Search by Deadline <i class="fas fa-chevron-up fa-xs"></i></h4>
        <div class="filter-container hidden-options">
          <% Project::DEADLINES.each do |deadline| %>
            <div class= "deadlines-search">
              <%= check_box_tag "deadline", deadline %> within <%= deadline %> days
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <div>
        <h4 class="filter-heading"> Search by Type <i class="fas fa-chevron-up fa-xs"></i></h4>
        <div class="filter-container hidden-options">
          <% Project::TYPES.each do |work_type| %>
            <div class= "types-search">
          <%= check_box_tag "work_type", work_type %> <%= work_type %>
        </div>
        <% end %>
      </div>
    </div>
    <br>
    <div>
      <h4 class="filter-heading"> Search by Skill <i class="fas fa-chevron-up fa-xs"></i></h4>
      <div class="filter-container hidden-options">
        <% Project::SKILLS.each do |skill| %>
          <div class= "skills-search">
            <%= check_box_tag "skill", skill %> <%= skill %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
    <%= submit_tag("Search", class:'btn btn-success index-search-button')%>
         <% end %>
    </div>
    </div>
    <div id="filter" class="col-md-9">
      <%= render "project_list", projects: @projects %>
    </div>
  </div>
</div>




