<div class="container search-index">

  <div class="projects-display flex-item">
    <% @projects.each do |project| %>
      <ul>
        <li>Name:<%= link_to project.name, project_path(project)%></li>
        <li>Status:<%= project.status %></li>
        <li>Type:<%= project.work_type %></li>
        <li>Charity:<%= project.charity.name %></li>
        <li>category:<%= project.charity.category %></li>
        <li>deadline:<%= project.deadline %></li>
      </ul>
    <% end %>
  </div>

  <div class= "check-boxes flex-item">
  <%= form_for(:project, :url => {:action => "index"}, :html => {:method => :get}) do %>
    <div>
      <% Project::CATEGORIES.each do |category| %>
        <div class= "categories-search">
          <%= check_box_tag "category", category %> <%= category %>
        </div>
      <% end %>
    </div>
    <br>

    <div>
      <% Project::TYPES.each do |work_type| %>
        <div class= "types-search">
          <%= check_box_tag "work_type", work_type %> <%= work_type %>
        </div>
      <% end %>
    </div>

    <br>

    <div>
      <% Project::STATUSES.each do |status| %>
        <div class= "statuses-search">
          <%= check_box_tag "status", status %> <%= status %>
        </div>
      <% end %>
    </div>

    <br>
    <div>
      <% Project::DEADLINES.each do |deadline| %>
        <div class= "deadlines-search">

          <%= check_box_tag "deadline", deadline %> within <%= deadline %> days
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="search-button">
   <%= submit_tag("Search") %>
 </div>
  </div>

</div>

