<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-center">Enter your project details:</h3>

      <%= simple_form_for @project do |f| %>
        <%= f.label :name, 'Project Name' %>:
        <%= f.input :name, label: false, required: true %>
        <%= f.label :details, 'Project Details' %>:
        <%= f.input :details, label: false, required: true %>
        <%= f.label :work_type, 'Type of Project' %>:
        <%= f.input :work_type, collection: ["New Website", "Rebuild Existing Website", "Improve Existing Website"], label: false %>
        <%= f.input :deadline %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>

  </div>
</div>

