<div class="project-info">
  <h1>Project name:<%= @project.name %></h1>
  <h2>Charity:<%= @project.charity.name %></h2>
  <p>Status: <%= @project.status  %></p>
  <p>Type: <%= @project.work_type %></p>
</div>

<div class="charity-info">
    <h2>Charity:<%= @project.charity.name %></h2>
    <h2>Location:<%= @project.charity.address %></h2>
    <p>Email: <%= @project.charity.email %></p>
    <p>Logo: <%= @project.charity.logo %></p>
    <p>Website: <%= @project.charity.website %></p>
    <p>Category: <%= @project.charity.category %></p>
</div>

<%= link_to "Edit", edit_project_path(@project), class:'btn'  %>

<!-- <button type="button" data-toggle="modal" data-target="#myModal">Apply -->
<%= link_to "apply", project_proposals_path(@project), method: :post %>
<!-- </button> -->







<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thanks for applying!</h4>
      </div>
      <div class="modal-body">
        <p>Please wait for <%= @project.charity.name %> to accpet your application</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
