<div class="project-info">
  <h1>Project name:<%= @project.name %></h1>
  <h2>Charity:<%= @project.charity.name %></h2>
  <p>Status: <%= @project.status  %></p>
  <p>Type: <%= @project.work_type %></p>
</div>

<div class="charity-info">
    <h2>Charity:<%= @project.charity.name %></h2>
    <h2>Location:<%= @project.charity.address %></h2>
    <p>Email: <%= @project.charity.email %></p>
    <p>Logo: <%= @project.charity.logo %></p>
    <p>Website: <%= @project.charity.website %></p>
    <p>Category: <%= @project.charity.category %></p>
</div>


<%= link_to "Dashboard", projects_dashboard_path(@project), class:'btn btn-success'  %>
<%= link_to "Edit", edit_project_path(@project), class:'btn btn-default'  %>

<!-- <button type="button" data-toggle="modal" data-target="#myModal">Apply -->

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Apply
  </button>




<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm your application</h4>
      </div>
      <div class="modal-body">
        <p>After you apply you will have to wait to be accpeted as part of the team working on <strong><%= @project.name %> </strong></p>
      </div>
      <div class="modal-footer">
          <%= link_to "Apply", project_proposals_path(@project), method: :post, class:"btn btn-default" %>
      </div>
    </div>
  </div>
</div>
